body {
  background: rgb(255, 245, 245);
}

header {
  background: blue;
  text-align: center;
  padding: 20px 20px;
}

.title {
  font-weight: bold;
  color: white;
}
.sub-title {
  color: rgb(255, 255, 255);
  font-size: small;
}
.h1 {
  color: white;
  font-size: smaller;
}

h3 {
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.card {
  background-color: white;
}
.square {
  margin-top: 2rem;
  border: 1px solid red;
  height: 60px;
  width: 60px;
}

.figure {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-bottom: 5rem;
}
